In [58]:
from pymongo import MongoClient
import pandas as pd
import requests
import json

## 1. Clean data about best markets to locate a gaming company

In [59]:
games_video_raw_df = pd.read_csv('../data/video_games_companies.csv')

In [60]:
games_video_raw_df

,name,category_code,number_of_employees,total_money_raised,country_code,city,address,zip_code,latitude,longitude
0,Flektor,games_video,NaN,$0,USA,Culver City,"8536 National Blvd, Suite A",90232,34.025958,-118.379768
1,Lala,games_video,NaN,$44.2M,USA,Palo Alto,209 Hamilton Ave,94301,37.451151,-122.154369
2,Joost,games_video,0.0,$45M,USA,New York,100 5th Ave Fl 6,10011-6903,40.746497,-74.009447
3,Babelgum,games_video,NaN,$13.2M,GBR,London,NaN,NaN,53.344104,-6.267494
4,Sparter,games_video,NaN,$0,USA,NaN,NaN,NaN,37.090240,-95.712891
...,...,...,...,...,...,...,...,...,...,...
1078,Symposium Productions,games_video,NaN,$0,NaN,NaN,NaN,NaN,NaN,NaN
1079,Rev Media,games_video,NaN,$0,USA,Dallas,NaN,NaN,NaN,NaN
1080,Fictionaut,games_video,2.0,$0,USA,Astoria,32-14 42nd St,11103,40.759795,-73.916127
1081,Tiny Speck,games_video,45.0,$17.2M,CAN,Vancouver,163 Hastings St W,BC V6B 1H5,49.282455,-123.109217
1082,My TV Shows,games_video,2.0,$0,PRT,Lisbon,Rua RosÃ¡lia de Castro,1700,38.752367,-9.146221

### 1.1 I want to see null country values in case I can handdle them if I have any information that can point out where the company is located. Otherwise, I will drop this rows.

In [61]:
null_countries_count = games_video_raw_df['country_code'].isnull().sum()
null_countries_count

244

In [62]:
# Drop rows where all specific columns are null at the same time
games_video_cleaned_df = games_video_raw_df.dropna(subset=['country_code', 'city', 'latitude', 'address','longitude', 'zip_code'], how='all')

# Display the shape of the DataFrame before and after the new cleaning to see how many rows were dropped
games_video_cleaned_shape = games_video_cleaned_df.shape

print(f'Shape before: {games_video_raw_df.shape}')
print(f'Shape after: {games_video_cleaned_df.shape}')

Shape before: (1083, 10)
Shape after: (839, 10)

In [63]:
games_video_cleaned_df.to_csv('../data/video_games_companies_cleaned.csv', index=False)

## 2. Clean data about possible offices in the USA

In [64]:
usa_companies_raw_df = pd.read_csv('../data/usa_companies.csv')

In [65]:
usa_companies_raw_df

,name,category_code,number_of_employees,total_money_raised,country_code,city,address,zip_code,latitude,longitude
0,Wetpaint,web,47.0,$39.8M,USA,Seattle,710 - 2nd Avenue,98104,47.603122,-122.333253
1,AdventNet,enterprise,600.0,$0,USA,Pleasanton,4900 Hopyard Rd.,94588,37.692934,-121.904945
2,Zoho,software,1600.0,$0,USA,Pleasanton,4900 Hopyard Rd,94588,37.692934,-121.904945
3,Digg,news,60.0,$45M,USA,San Francisco,135 Mississippi St,94107,37.764726,-122.394523
4,Facebook,social,5299.0,$2.43B,USA,Menlo Park,1601 Willow Road,94025,37.416050,-122.151801
...,...,...,...,...,...,...,...,...,...,...
9261,Contemporary Computer Services,software,NaN,$0,USA,Bohemia,200 Knickerbocker Avenue,11716,40.775055,-73.088140
9262,QSGI,software,164.0,$0,USA,Palm Beach,400 Royal Palm Way,33480,26.705331,-80.041395
9263,AfterLogic,software,NaN,$0,USA,Livingston,P.O. Box 2096,07039,40.793024,-74.323554
9264,EnteGreat Solutions,software,NaN,$0,USA,Birmingham,NaN,NaN,33.518885,-86.816068
9265,EnteGreat,enterprise,NaN,$0,USA,Birmingham,1900 International Park Drive,35243-4204,33.407786,-86.761302

### 2.1 I want to drop all rows that have null values in the columns address, latitude and longitude at the same time

In [66]:
# Drop rows where all specific columns are null at the same time
usa_companies_cleaned_df = usa_companies_raw_df.dropna(subset=['latitude', 'address','longitude', 'zip_code'], how='all')

# Display the shape of the DataFrame before and after the new cleaning to see how many rows were dropped
usa_companies_cleaned_shape = usa_companies_cleaned_df.shape

print(f'Shape before: {usa_companies_raw_df.shape}')
print(f'Shape after: {usa_companies_cleaned_df.shape}')

Shape before: (9266, 10)
Shape after: (9055, 10)

In [67]:
usa_companies_cleaned_df.to_csv('../data/usa_companies_cleaned.csv', index=False)

## 3. Clean Design Companies and Companies that have raised more than 1M dollars

In [68]:
required_companies_raw_df = pd.read_csv('../data/required_companies.csv')

In [69]:
required_companies_raw_df

,name,category_code,total_money_raised,country_code,city,address,zip_code,latitude,longitude
0,Digg,news,$45M,USA,San Francisco,135 Mississippi St,94107,37.764726,-122.394523
1,Joost,games_video,$45M,USA,New York,100 5th Ave Fl 6,10011-6903,40.746497,-74.009447
2,SpinVox,messaging,$106M,GBR,Buckinghamshire,"Wethered House, Pound Lane",SL7 2AF,NaN,NaN
3,AddThis,advertising,$73M,USA,Vienna,1595 Spring Hill Road,22182,38.926172,-77.245195
4,Mahalo,web,$21M,USA,Culver City,3525 Eastham Dr.,90232,34.017606,-118.487267
...,...,...,...,...,...,...,...,...,...
1651,Luminus Devices,other,$136M,USA,Billerica,1100 Technology Park Drive,01821,42.528635,-71.278022
1652,Cameron Health,medical,$121M,USA,San Clemente,905 Calle Amanecer,92673,33.448010,-117.607717
1653,Cantimer,NaN,$2M,USA,Menlo Park,3700 Haven Court,94025,37.484616,-122.181753
1654,Celestial Semiconductor,semiconductor,$2M,USA,San Jose,"2635 North 1st Street, Suite 150",95134,37.386417,-121.929170
1655,InSound Medical,biotech,$11M,USA,Newark,39660 Eureka Drive,94560,37.512038,-121.998513

### 3.1 I want companies only in San Francisco and New York

In [70]:
# Define the cities of interest for the new requirement
cities_of_interest_new = ['San Francisco', 'New York']

# Filter the dataframe for companies in San Francisco and New York
required_companies_cleaned_df = required_companies_raw_df[
    required_companies_raw_df['city'].isin(cities_of_interest_new)]

required_companies_cleaned_df.reset_index(drop=True, inplace=True)
required_companies_cleaned_df

,name,category_code,total_money_raised,country_code,city,address,zip_code,latitude,longitude
0,Digg,news,$45M,USA,San Francisco,135 Mississippi St,94107,37.764726,-122.394523
1,Joost,games_video,$45M,USA,New York,100 5th Ave Fl 6,10011-6903,40.746497,-74.009447
2,Prosper,finance,$120M,USA,San Francisco,101 2nd Street,94105,37.789760,-122.402524
3,Pando Networks,games_video,$11M,USA,New York,520 Broadway,10012,40.722655,-73.998730
4,Revision3,games_video,$9M,USA,San Francisco,2415 3rd St,94107,37.757758,-122.388243
...,...,...,...,...,...,...,...,...,...
256,Teliris,public_relations,$11M,USA,New York,"100 William Street, Suite 1825",10038,42.902965,-78.883572
257,WiNetworks,mobile,$19M,USA,New York,"555 West 57th Street, Suite 1326",10019,40.770437,-73.990426
258,TeachScape,software,$16M,USA,San Francisco,71 Stevenson St.,94105,37.786905,-122.404392
259,Roc2Loc,cleantech,$2M,USA,San Francisco,"66 Mint Street, 3rd Floor",94103,37.782475,-122.407764
260,FinAnalytica,software,$7M,USA,New York,"100 Park Avenue, 16th Floor",10017,40.751293,-73.978887

In [71]:
required_companies_cleaned_df.to_csv('../data/required_companies_cleaned.csv', index=False)

## 4. Merging companies of interest

In [84]:
# Load the CSV files into DataFrames
pre_selected_df = pd.read_csv('../data/pre_selected_companies.csv')
required_companies_selected_df = pd.read_csv('../data/required_companies_cleaned.csv')

# Add an identifier column to the pre-selected DataFrame
pre_selected_df['Company_Type'] = 'Pre-selected'

# Assuming there's a column 'total_money_raised' to check if a company raised more than $1M
# And a column 'category_code' where 'design' might be a category for design companies
# Modify the lambda function to interpret strings with 'M'
required_companies_selected_df['Company_Type'] = required_companies_selected_df.apply(
    lambda x: 'Design' if x['category_code'] == 'design' 
    else ('Raised > $1M' if 'M' in str(x['total_money_raised']) else 'Other'),
    axis=1
)

# Concatenate the DataFrames
all_companies_df = pd.concat([pre_selected_df, required_companies_selected_df], ignore_index=True)

# If you need to remove duplicates
#all_companies_df.drop_duplicates(subset=['Company_Identifier_Column'], inplace=True)

# Inspect the combined DataFrame
all_companies_df

,name,category_code,number_of_employees,total_money_raised,country_code,city,address,zip_code,latitude,longitude,Company_Type
0,Livestream,games_video,120.0,$14.7M,USA,New York,"111 8th Avenue, #1509",10011,40.726155,-73.995625,Pre-selected
1,hi5,games_video,100.0,$52M,USA,San Francisco,55 Second Street,94105,37.788668,-122.400558,Pre-selected
2,Zynga,games_video,115.0,$860M,USA,San Francisco,365 Vermont St.,94103,37.765158,-122.404234,Pre-selected
3,iWin,games_video,103.0,$0,USA,San Francisco,45 Fremont Street,94105,37.781689,-122.391061,Pre-selected
4,Exent,games_video,100.0,$3M,USA,New York,632 W. 28th St.,10001,40.752380,-74.005568,Pre-selected
...,...,...,...,...,...,...,...,...,...,...,...
261,Teliris,public_relations,NaN,$11M,USA,New York,"100 William Street, Suite 1825",10038,42.902965,-78.883572,Raised > $1M
262,WiNetworks,mobile,NaN,$19M,USA,New York,"555 West 57th Street, Suite 1326",10019,40.770437,-73.990426,Raised > $1M
263,TeachScape,software,NaN,$16M,USA,San Francisco,71 Stevenson St.,94105,37.786905,-122.404392,Raised > $1M
264,Roc2Loc,cleantech,NaN,$2M,USA,San Francisco,"66 Mint Street, 3rd Floor",94103,37.782475,-122.407764,Raised > $1M
265,FinAnalytica,software,NaN,$7M,USA,New York,"100 Park Avenue, 16th Floor",10017,40.751293,-73.978887,Raised > $1M

In [86]:
# Drop duplicates
all_companies_cleaned_df = all_companies_df.drop_duplicates()
all_companies_cleaned_df

,name,category_code,number_of_employees,total_money_raised,country_code,city,address,zip_code,latitude,longitude,Company_Type
0,Livestream,games_video,120.0,$14.7M,USA,New York,"111 8th Avenue, #1509",10011,40.726155,-73.995625,Pre-selected
1,hi5,games_video,100.0,$52M,USA,San Francisco,55 Second Street,94105,37.788668,-122.400558,Pre-selected
2,Zynga,games_video,115.0,$860M,USA,San Francisco,365 Vermont St.,94103,37.765158,-122.404234,Pre-selected
3,iWin,games_video,103.0,$0,USA,San Francisco,45 Fremont Street,94105,37.781689,-122.391061,Pre-selected
4,Exent,games_video,100.0,$3M,USA,New York,632 W. 28th St.,10001,40.752380,-74.005568,Pre-selected
...,...,...,...,...,...,...,...,...,...,...,...
261,Teliris,public_relations,NaN,$11M,USA,New York,"100 William Street, Suite 1825",10038,42.902965,-78.883572,Raised > $1M
262,WiNetworks,mobile,NaN,$19M,USA,New York,"555 West 57th Street, Suite 1326",10019,40.770437,-73.990426,Raised > $1M
263,TeachScape,software,NaN,$16M,USA,San Francisco,71 Stevenson St.,94105,37.786905,-122.404392,Raised > $1M
264,Roc2Loc,cleantech,NaN,$2M,USA,San Francisco,"66 Mint Street, 3rd Floor",94103,37.782475,-122.407764,Raised > $1M
265,FinAnalytica,software,NaN,$7M,USA,New York,"100 Park Avenue, 16th Floor",10017,40.751293,-73.978887,Raised > $1M

In [87]:
all_companies_cleaned_df.to_csv('../data/all_companies_cleaned_df.csv', index=False)

## 5. Cleaning Latitude and Longitude from the Final Dataframe